@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
    max-width: 100%;
    max-height: 100%;
    margin: 2;
    text-align: center;
}

.icon {
    height: 6rem;
    padding: 1.5rem;
}


.elms-sans {
  font-family: "Elms Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

div {
    font-family: "Elms Sans", sans-serif;
}


@font-face {  
    font-family: 'Elms Sans';  
    font-style: normal;  
    font-weight: 500;  
    font-display: swap;  
    src: url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap') 
}

