@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/theme';

#root {
    max-width: 100%;
    max-height: 100%;
    margin: 2;
    text-align: center;
}

.icon {
    height: 6rem;
    padding: 1.5rem;
}

.font-elms {
    font-family: 'Elms Sans Thin', sans-serif;
}

